body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}
h2{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color:blueviolet;
}
p{
    color: dimgray;
}
.name-highlight{
    color: blue;
}
.half-width{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;

}
.half-width img{
    width: 80%;
}

.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat ;

}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightSalmon, Tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    
}

.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}